<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

  <!-- BEGIN HEAD-->
  <head>

    <meta charset="UTF-8" />
    <title>Smart Lodge</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/assets/css/main.css" />
    <link rel="stylesheet" href="/assets/css/theme.css" />
    <link rel="stylesheet" href="/assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="/assets/plugins/Font-Awesome/css/font-awesome.css" />
    <link href="/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="/assets/plugins/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="/assets/plugins/datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="/assets/plugins/timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-fileupload.min.css" />
    <link href="/assets/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <!--<link href="/assets/css/layout2.css" rel="stylesheet" />-->

    <link rel="stylesheet" href="/assets/plugins/Font-Awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/assets/plugins/wysihtml5/dist/bootstrap-wysihtml5-0.0.2.css" />
    <link rel="stylesheet" href="/assets/css/Markdown.Editor.hack.css" />
    <link rel="stylesheet" href="/assets/plugins/CLEditor1_4_3/jquery.cleditor.css" />
    <link rel="stylesheet" href="/assets/css/jquery.cleditor-hack.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-wysihtml5-hack.css" />
    
    <link href="assets/plugins/jquery-steps-master/demo/css/normalize.css" rel="stylesheet" />
    <link href="assets/plugins/jquery-steps-master/demo/css/wizardMain.css" rel="stylesheet" />
    <link href="assets/plugins/jquery-steps-master/demo/css/jquery.steps.css" rel="stylesheet" />   
    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style>
      #tags_tag{
        width: 110px !important;
      }
      .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        background-color: #ffffff;
        background-image: none;
        border: 1px solid #cccccc;
        border-radius: 4px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        color: #555555;
        display: block;
        font-size: 14px;
        height: 34px;
        line-height: 1.42857;
        padding: 6px 12px;
        transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
        vertical-align: middle;
        width: 100%;
      }

      .chosen-container-multi .chosen-choices li.search-choice {
        line-height: 20px;
        padding: 3px 20px 3px 5px;
      }

      .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
        top: 8px;
      }
    </style>
  </head>
  <!-- END  HEAD-->
  <!-- BEGIN BODY-->
  <body class="padTop53 " >

    <!-- MAIN WRAPPER -->
    <div id="wrap">
      <!-- HEADER SECTION -->
      <div id="top">
        <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
          <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
            <i class="icon-align-justify"></i>
          </a>
          <!-- LOGO SECTION -->
          <header class="navbar-header">
            <a href="index.html" class="navbar-brand">
              <!--<img src="assets/img/logo.png" alt="" />-->
              Smart Lodge
            </a>
          </header>
          <!-- END LOGO SECTION -->
          <ul class="nav navbar-top-links navbar-right">

            <!--ADMIN SETTINGS SECTIONS -->

            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
              </a>

              <ul class="dropdown-menu dropdown-user">
                <li><a href="/my_account"><i class="icon-user"></i> User Profile </a>
                </li>
                <!--<li><a href="#"><i class="icon-gear"></i> Settings </a>
                </li>-->
                <li><a href="#"><i class="icon-lock"></i> Lock Screen </a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="icon-signout"></i> Logout </a>
                </li>
              </ul>

            </li>
            <!--END ADMIN SETTINGS -->
          </ul>

        </nav>

      </div>
      <!-- END HEADER SECTION -->



      <!-- MENU SECTION -->
      <div id="left">
        <div class="media user-media well-small">
          <br />
          <div class="media-body">
            <h5 class="media-heading"> <%= logged_in_user_details %></h5>
          </div>
          <br />
        </div>

        <ul id="menu" class="collapse">


          <li class="panel dashboard">
            <a href="/guests" >
              <i class="icon-table"></i> Dashboard
            </a>
          </li>

          <li class="panel guest">
            <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#guest-nav">
              <i class="icon-folder-open-alt"> </i>Guests

              <span class="pull-right">
                <i class="icon-angle-left"></i>
              </span>
              &nbsp; <span class="label label-default">3</span>&nbsp;
            </a>
            <ul class="collapse" id="guest-nav">
              <li class=""><a href="/check_in_menu"><i class="icon-angle-right"></i> Check In </a></li>
              <li class=""><a href="/check_out_menu"><i class="icon-angle-right"></i> Check Out </a></li>
              <li class=""><a href="/invoices_menu"><i class="icon-angle-right"></i> Invoices </a></li>
            </ul>
          </li>

          <li class="panel payments">
            <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#payment-nav">
              <i class="icon-folder-open-alt"> </i>Payments

              <span class="pull-right">
                <i class="icon-angle-left"></i>
              </span>
              &nbsp; <span class="label label-default">2</span>&nbsp;
            </a>
            <ul class="collapse" id="payment-nav">
              <li class=""><a href="/new_payment_menu"><i class="icon-angle-right"></i> New Payment </a></li>
              <li class=""><a href="/view_payments_menu"><i class="icon-angle-right"></i> View Payments </a></li>
            </ul>
          </li>

          <li class="panel reports">
            <a href="#" data-parent="#menu" data-toggle="collapse" class="accordion-toggle" data-target="#report-nav">
              <i class="icon-folder-open-alt"> </i>Reports

              <span class="pull-right">
                <i class="icon-angle-left"></i>
              </span>
              &nbsp; <span class="label label-default">2</span>&nbsp;
            </a>
            <ul class="collapse" id="payment-nav">
              <li class=""><a href="#"><i class="icon-angle-right"></i> Report</a></li>
            </ul>
          </li>
        </ul>

      </div>
      <!--END MENU SECTION -->


      <!--PAGE CONTENT -->
      <div id="content">

        <div class="inner" style="min-height:1200px;">
          <div class="row">
            <div class="col-lg-12">


              <h2><%= @page_title %></h2>
              <hr />

              <% if flash[:notice] %>
                <div class="alert alert-success alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <%= flash[:notice] %>
                </div>
              <% end %>

              <% if flash[:error] %>
                <div class="alert alert-danger alert-dismissable">
                  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                  <%= flash[:error] %>
                </div>
              <% end %>

              <div class="panel panel-default">
                <div class="panel-heading">
                  &nbsp;
                </div>
                <br />
                <%= yield %>

              </div>
            </div>
          </div>



        </div>




      </div>
      <!--END PAGE CONTENT -->
      <!-- RIGHT STRIP  SECTION -->
      <div id="right">
        <div class="well well-small">
          <button class="btn btn-block"> <b>Rooms by Type</b> </button>
          <ul class="list-unstyled">
            <% room_types.each do |room_type| %>
              <li><span class="col-lg-8"><%= room_type.room_type %></span> <button class="btn btn-default btn-circle" type="button" ><span><%= room_type.rooms.count %></span></button></li>
            <% end %>
          </ul>
        </div>

        <div class="well well-small">
          <button class="btn btn-block"> <b>Rates By Room</b> </button>

          <div class="panel panel-info">
            <div class="panel-body">
              <div class="panel-group" id="accordion">

                <% room_rates.each do |room, room_rate| %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#<%= room.room_id %>" class="collapsed"><%= room.name %></a>
                      </h4>
                    </div>
                    <div id="<%= room.room_id %>" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                        <% unless room_rate.blank? %>
                          <b><%= number_to_currency(room_rate.rate, :unit => 'MK') %></b> created on <b><%= room_rate.created_at.to_date.strftime("%d/%b/%Y") %></b>
                        <% else %>
                          Not set
                        <% end %>

                      </div>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>

        </div>

        <div class="well well-small">
          <button class="btn btn-block"> <b>Users</b> </button>
          <div class="panel panel-info">
            <div class="panel-body">
              <div class="panel-group" id="accordion">

                <% available_users.each do |user| %>
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#<%= user.username %>" class="collapsed"><%= user.username %></a>
                      </h4>
                    </div>
                    <div id="<%= user.username %>" class="panel-collapse collapse" style="height: 0px;">
                      <div class="panel-body">
                        <b><%= user.first_name.to_s + " " + user.last_name.to_s %></b> member since <b><%= user.created_at.to_date.strftime("%d/%b/%Y") %></b>
                      </div>
                    </div>
                  </div>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END RIGHT STRIP  SECTION -->

    </div>

    <!--END MAIN WRAPPER -->

    <!-- FOOTER -->
    <div id="footer">
      <p>&copy;  smart-lodge &nbsp;2017 &nbsp;</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="/assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <script src="/assets/js/jquery-ui.min.js"></script>
    <script src="/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="/assets/plugins/validVal/js/jquery.validVal.min.js"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="/assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/assets/plugins/timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="/assets/js/formsInit.js"></script>
    <script src="/assets/plugins/jasny/js/bootstrap-fileupload.js"></script>
    <script src="/javascripts/jquery.media.js"></script> <!-- For rendering PDF documents -->

    <script src="/assets/plugins/wysihtml5/lib/js/wysihtml5-0.3.0.js"></script>
    <script src="/assets/plugins/bootstrap-wysihtml5-hack.js"></script>
    <script src="/assets/plugins/CLEditor1_4_3/jquery.cleditor.min.js"></script>
    <script src="/assets/plugins/pagedown/Markdown.Converter.js"></script>
    <script src="/assets/plugins/pagedown/Markdown.Sanitizer.js"></script>
    <script src="/assets/plugins/Markdown.Editor-hack.js"></script>
    <script src="/assets/js/editorInit.js"></script>
    <script src="/assets/plugins/jquery-steps-master/lib/jquery.cookie-1.3.1.js"></script>
    <script src="/assets/plugins/jquery-steps-master/build/jquery.steps.js"></script>
    <script src="/assets/js/WizardInit.js"></script>

    <script type="text/javascript">
      $(function () { formInit(); });
      $('a.media').media({width:'100%', height:400});

      window.onload = function () {
        jQuery('.faculty-div').hide();
        setUserTable();
      }

      function setUserTable() {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function() {
          //get data-for attribute
          var dataFor = $(this).attr('data-for');
          var idFor = $(dataFor);

          //current button
          var currentButton = $(this);
          idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
              currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
              currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
          })
        });


        $('[data-toggle="tooltip"]').tooltip();

      };

      function browseByCategory(categoryID){
        window.location = "/browse_by_category/" + categoryID;
      }

      function browseByFaculty(facultyID){
        window.location = "/view_by_faculty/" + facultyID;
      }

      $(function () { formWysiwyg(); });

      function checkUncheckAll(){
        $("#select_all").change(function(){  //"select all" change
          $(".checkbox").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });
      }

      checkUncheckAll();
    </script>
    <!-- END GLOBAL SCRIPTS -->
  </body>
  <!-- END BODY-->

</html>